# Ignore Python cache files and directories
__pycache__/
*.py[cod]

# ignore the outputs
outputs/

# ignore the scripts
scripts/

# ignore the logs
debug.log
app.log

# ignore the final output json
final.json

# ignore the states
states/
